.container{
  width: 1200px;
  max-width: 100%;
  padding-left: res(10, 15);
  padding-right: res(10, 15);
  margin-left: auto;
  margin-right: auto;
}

.row{
  display: flex;
  justify-content: space-between;
}

.col{
  padding-left: res(10, 15);
  padding-right: res(10, 15);
}

img, svg{
  max-width: 100%;
  height: auto;
}
