html, body, *{
  font-family: 'Roboto', sans-serif;
}

body{
  line-height: 1.4;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-style: normal;
}
h1{
  font-size: clamp(50px, cqi(120), 120px);
}
h2{
  font-size: clamp(35px, cqi(70), 70px);
}
h3{
  font-size: clamp(30px, cqi(50), 50px);
}
h4{
  font-size: clamp(24px, cqi(40), 40px);
}
h5{
  font-size: clamp(22px, cqi(30), 30px);
}
h6{
  font-size: clamp(20px, cqi(24), 24px);
}

a{
  font-size: clamp(16px, cqi(18), 18px);
}
