.about{
  &__row{
    @media(min-width:992px){
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__info{
    @media(min-width:768px){
      padding-right: res(0, 60);
    }
  }
  h3{
    margin-bottom: res(30, 60);
  }
  img{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    max-width: 500px;
    @media(min-width:992px){
      margin-bottom: 0;
      width: 37%;
      order: 2;
    }
  }
}