.banner{
  background: url("../img/banner-img.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 100px;
  @media(min-width:768px){
    min-height: 100vh;
  }
  .container{
    position: relative;
    padding-top: res(0, 60);
  }
  h1, h4{
    span{
      color: var(--yellow);
    }
  }
  h4{
    @media(min-width:992px){
      font-size: 70px;
    }
  }
  &__title{
    margin-bottom: 30px;
    @media(min-width:992px){
      margin-bottom: 0;
      position: absolute;
      right: 30px;
      text-align: right;
      top: 0;
      transform: translateY(-100%);
    }
  }
  h5{
    line-height: 1;
    @media(min-width:992px){
      font-size: 50px;
    }
    span{
      font-size: 75%;
      @media(min-width:992px){
        font-size: 40px;
      }
    }
  }
  h1{
    margin-bottom: 30px;
    @media(min-width:1200px){
      font-size: 130px;
    }
  }
}