.main-footer{
  padding: 30px 0;
  background: var(--dark);
  color: var(--white);
  .container{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo{
    font-size: res(14, 17);
    text-transform: lowercase;
    @media(max-width:767px){
      text-align: center;
      margin-bottom: 30px;
    }
    a{
      display: block;
      margin-bottom: 8px;
      width: clamp(150px, 20.76923cqi, 243px);
      @media(max-width:767px){
        margin-left: auto;
        margin-right: auto;
      }
    }
    svg{
      display: block;
      width: 100%;
    }
  }
  &__right{
    text-align: center;
    @media(min-width:768px){
      text-align: right;
    }
  }
  &__nav{
    margin-bottom: 10px;
    @media(min-width:768px){
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    button{
      background: none;
      border: none;
      padding: 0;
      font-size: res(13, 16);
      font-weight: 500;
      line-height: 160%;
      color: var(--white);
      text-transform: uppercase;
      margin-bottom: 10px;
      @media(min-width:768px){
        margin-bottom: 0;
      }
      &:not(:first-child){
        margin-left: 30px;
      }
    }
  }
  small{
    font-size: res(13, 16);
    font-weight: 500;
    line-height: 160%;
  }
}