.main-header{
  height: 100px;
  background: var(--white);
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav{
    button{
      padding: 0px 15px;
      height: 100px;
      background: var(--white);
      color: var(--dark);
      border:none;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%; /* 20.8px */
      text-transform: capitalize;
      &:hover, &.active{
        background: var(--yellow);
      }
    }
  }
}