.main-header{
  background: var(--white);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  .container{
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    display: block;
    padding: 10px 0;
    svg{
      display: block;
      width: res(150, 243);
      height: auto;
    }
  }
  nav{
    display: flex;
    button{
      padding: 0px res(10, 15);
      background: var(--white);
      color: var(--dark);
      border: none;
      font-size: res(14, 16);
      font-weight: 500;
      line-height: 1.3;
      text-transform: capitalize;
      &:hover, &.active{
        background: var(--yellow);
      }
    }
  }
}